@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext);
/* /////////////////////////////////////////////////////////////////////////// GLOBAL /////////////////////////////////////////////////////////////////// */
.container { width:100% !important; max-width:1200px;}/*za 100% site*/
html, body, input, textarea  {font-family: 'Open Sans', sans-serif; font-weight:400;}

/* border radius */ .navbar, .modal-content, .btn, .dropdown-menu, .pagination>li:first-child>a, .pagination>li:last-child>a, .form-control, .nav-tabs>li>a, .breadcrumb, .progress {border-radius:0px;}
/* clear */ .mainbanner:before, .mainbanner:after { content:""; clear:both; display:table;}

/* heading 1 */
h1  {}
/* heading 2 */
h2, .mainbox1 h2, .fpage_seznam_title, .sorodni_title, .cart_pregled_title h1, .cart_pregled_title  {font-size: 30px; font-weight: 300;}
/* heading 3 */
.seznam_naziv, .news_short_naslov, footer h2, .enovice_title, h3, .cart_pregled_naslovi h2 {font-size: 14px; font-weight: 700; padding-top:10px; padding-bottom:10px;}
/* default transition */
.izhbox, .izhslika img, .seznam_slika img {-webkit-transition: all 0.25s ease; transition: all 0.25s ease; -moz-transition: all 0.25s ease; -ms-transition: all 0.25s ease; -o-transition: all 0.25s ease;}

/* /////////////////////////////////////////////////////////////////////////// BARVE /////////////////////////////////////////////////////////////////// */
/* default barva linkov */
a, a:hover, a:focus, a:active {color:#0e76bc; cursor:pointer;} /* barva linkov */

/* barva gumbov */
.btn-info, .btn-primary, .enovice_button input, .vote_button input, .filter_btn input, .dvprasanje_btn input, .search .btn {background-color:#0e76bc; border-color:#0e76bc; color:#fff;}
.btn-info:hover, .btn-primary:hover, .enovice_button input:hover, .vote_button input:hover, .filter_btn input:hover, .dvprasanje_btn input:hover,
.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .search .btn:hover {background-color:#333; border-color:#333; color:#fff;}

/* primarna barva*/
.cart_pregled_title, .cart_pregled_title h1, .kosaricaakcije a:hover, .stanjekosarice:hover, .stanjekosarice a:hover, .head_icon a:hover, .cart_container a:hover, .cart_container a:focus, .news_short_naslov a:hover, 
.seznam_cenaakcija .seznam_cenavalue, h2, .fpage_seznam_title, .sorodni_title {color:#0e76bc;}

/* primarna barva - background */
.mobile_cart_cart a, .tabela-vsebina th, .footlinks li a:hover  { background-color:#0e76bc;}

/* barva linkov v nazivih */
.seznam_naziv a, .news_short_naslov a { color:#333;}
.seznam_naziv a, .news_short_naslov a { color:#333; text-decoration:none;} 

/* obrobe */
hr, .artikel_box > .innerbox, .title_and_paging > .innerbox, .newsshort_novica > .innerbox {border-color:#ccc;} 

/* input & button glow */
.form-control:focus {
	border-color: #0e76bc; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(14,118,188, .6); 
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(14,118,188, .6); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(14,118,188, .6);
	}
.btn:focus, .btn:active:focus, .btn.active:focus {outline: 5px auto rgba(14,118,188, .6);}

/* primarni gradient */
.progress-bar {
background-image: -webkit-linear-gradient(top,#0e76bc 0,#0e76bc 100%); 
background-image: linear-gradient(to bottom,#0e76bc 0,#0e76bc 100%); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e76bc',endColorstr='#0e76bc',GradientType=0);}

/* /////////////////////////////////////////////////////////////////////// TEMPLATES /////////////////////////////////////////////////////////////// */
.logo, .search, .mainbox1, .mainbox2, .mainbox3, .mainbox4, .mainbox5, .mainbox6, .foot_top, .footbox, .mainfull, .footlinks, .innermain, .obrazecbox, .obrazectekst, .obrazecsubmit, .obrazecbox2,
.ddsearch_icon, .spustni_menu_box {float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;}

.global_containter {position:relative;}
.back_banner { position:absolute; width:100%; z-index:0; top:0px; float:left;}
.back_banner .carousel-caption { top:200px;}
/*.back_banner:before { position:absolute; top:0; left:0; right:0; bottom:0; content:""; background:url(../images/site/grain.png); z-index:1;}*/
.back_banner_opacity { position:absolute; z-index:20; bottom:0; width:100%; height:179px; background:url(../images/site/bg-banner-opacity.png) repeat-x;}
.back_banner .carousel-indicators, .back_banner .carousel-control { display:none;}

/* --------------------------------------------------------------- kosarica top ------------------------------------------------------------- */
.cart_container {background-color:#fafafa; border-bottom:1px solid #dedede; position:relative;} 

.kosaricaakcije, .jeziki { float:right;}
.jeziki { margin-left:20px;}

.cart_top { width:auto; float:right;}
.cart_top > .innerbox {padding:5px 0;}
.kosaricaakcije, .kosaricaakcije a, .stanjekosarice, .stanjekosarice a {color:#000;}

/* mobile cart menu */
.mobile_cart_container {padding:10px 0;}
.mobile_cart_menushop, .mobile_cart_menu, .mobile_cart_cart {width:100%; cursor:pointer;}
.mobile_cart_menushop a, .mobile_cart_menu a, .mobile_cart_cart a {color:#fff; padding:10px;}
.mobile_cart_menushop a {background-color:#000;}
.mobile_cart_menu a {background-color:#0e76bc;}
.mobile_cart_cart a {background-color:#0e76bc;}

/* search */
.ddsearch_icon { float:right;}
.ddsearch_icon i { color:#000;}
.ddsearch_icon a {cursor:pointer; width:35px; height:35px; line-height:35px; text-align:center; display:block; color:#222;}
.search {position:absolute; right:0; bottom:0px; height:0px; z-index:-1; width:400px; background:#fafafa; border-bottom:1px solid #dedede; border-left:1px solid #dedede; opacity:0; -webkit-transition: all 300ms; transition: all 300ms;}
.search.open {opacity:1; bottom:-54px; z-index:31; height:54px; padding:10px; -webkit-transition: all 300ms; transition: all 300ms;}
.search form { opacity:0;}
.search.open form {-webkit-animation-delay: 2s; animation-delay: 2s; opacity:1;}
.search .input-group-btn span { display:none;}

/* -------------------------------------------------------------------- GLAVA --------------------------------------------------------------- */
header { min-height:300px;}
.logo {width:100%; text-align:center; margin-top:30px; }
.logo img { max-height:130px;}
.logo > .innerbox {}

/* ---------------------------------------------------------------------- NAVIGACIJA -------------------------------------------------------------- */
/* navigacija cez vse */ /*@media (min-width: 767px){.navbar-nav > li { float:none; display: table-cell; width: 1%;} .navbar-nav > li a { text-align:center;}}*/
@media (min-width: 767px) {nav .nav>li { display:inline-block; float:none;} nav .nav { text-align:center; width:100%;}}
nav {text-transform:uppercase; font-size: 14px; font-weight: 700; position:sticky; z-index: 100000; top:0; background:#252525;}
nav .nav>li>a, nav .nav>li>a:hover, nav .nav>li.active > a {transition: all 0.4s ease;}
nav .nav>li>a { color:#fff;}
nav .nav>li>a:hover, nav .nav>li.active > a, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus, nav .nav>li>a:focus  { background:none; color:#0e76bc;}

.dropdown-menu { background:#0e76bc; border:none; padding:0;}
.dropdown-menu li a { color:#fff; border-bottom:1px solid #fff;}
.dropdown-menu li a:hover { color:#fff; background-color:#333;}

.ddmenu_content { background:#fff; font-weight:400;}
.ddmenu_content .innerbox { padding-left:15px; padding-right:15px;}
.spustni_menu_box { width:25%; padding-top:30px; padding-bottom:30px;}
.spustni_menu_box h2 { font-size:16px; margin:20px 0;}

/* --------------------------------------------------------------------- fixed bar ------------------------------------------------------------------- */
.fixed_bar { position:fixed; z-index:31; top:200px; right:0; background-color:#f1f1f1; padding:10px;}
.fixedbar_content { margin-bottom:10px;}
.fixedbar_content:last-child { margin-bottom:0;}

/* --------------------------------------------------------------------- main content ------------------------------------------------------------------- */
/* naslovnica */
.maincontent, .maincontent1, .maincontent2 { background:#fff;}
.mainbox2 { width:100%;}
.mainbox2 > .innerbox { width:100%; padding-top:30px; padding-bottom:30px;}
.mainbox2 > .innerbox:empty { display:none;}

.mainbox1 { width:25%; padding:0;}

.izhcontent h2 { padding:10px 0;}
.mainbox1 .izhbtn a { position:absolute; z-index:2; top:0; left:0; right:0; bottom:0; background:none; border:none; text-indent:-10000px;}
.mainbox1 .izhbtn a:hover { background:none; border:none;}

.mainbox1 .izhcontent { position:absolute; bottom:0; color:#fff; z-index:2; bottom:20px; width:100%; text-align:center; padding-left:20%; padding-right:20%; padding-top:10px; padding-bottom:10px;}
.mainbox1:hover .izhcontent, .mainbox1:hover .izhcontent:hover { background:rgba(14,118,188,0.8);}
.mainbox1 .izhslika:after {content: "\f061"; font-family: FontAwesome; display: inline-block; line-height: 1; font-size:16px; float:right; position:absolute; background:#000; width:30px; height:30px; line-height:30px; text-align:center; color:#fff; top:0; left:0;}
.mainbox1 h2 {font-size:18px; font-weight:400; text-transform:uppercase; border-top:1px solid #999; border-bottom:1px solid #999; margin-bottom:20px;}
.mainbox1 .izhslika img { opacity:.5; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-backface-visibility: hidden;}
.mainbox1 .izhslika { background:#000;}
.mainbox1 h2 a { color:#fff;}
.mainbox1:hover .izhslika img { opacity:1;}

/*
.maincontent1 .newsshort_novica { padding:0; margin-bottom:0;}
.maincontent1 .newsshort_novica > .innerbox {padding:0px; border:none; position:relative; float:left; width:100%;}
.maincontent1 .news_content { position:absolute; bottom:0; color:#fff; z-index:2; bottom:20px; width:100%; text-align:center; padding-left:20%; padding-right:20%; padding-top:10px; padding-bottom:10px;}
.maincontent1 .newsshort_novica:hover .news_content { background:rgba(14,118,188,0.8);}
.maincontent1 .newsshort_novica .news_short_naslov {font-size:18px; font-weight:400; text-transform:uppercase; border-top:1px solid #999; border-bottom:1px solid #999; margin-bottom:20px;}
.maincontent1 .news_short_opis, .mainbox1 h3 {font-family: 'Shadows Into Light Two', cursive; font-size:20px;}
.maincontent1 .newsshort_novica .news_slika a:after {content: "\f061"; font-family: FontAwesome; display: inline-block; line-height: 1; font-size:16px; float:right; position:absolute; background:#000; width:30px; height:30px; line-height:30px; text-align:center; color:#fff; top:0; left:0;}
.maincontent1 .newsshort_novica .news_slika { background:#000;}
.maincontent1 .newsshort_novica .news_slika img { opacity:.5; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-backface-visibility: hidden;}
.maincontent1 .newsshort_novica:hover .news_slika img { opacity:1;}
.maincontent1 .news_short_btn { display:block; overflow:hidden;}
.maincontent1 .news_short_btn a { position:absolute; z-index:2; top:0; left:0; right:0; bottom:0; background:none; border:none; text-indent:-10000px;}
*/


/* notranje */
.mainfull { margin-top:30px;}
.mainleft { width:20%;}
.mainright {width:80%;}

.innermain { margin-bottom:30px;}

/* kontakt na strani */
.kontakt_na_strani .form-control { width:100%; margin-bottom:5px;}
.kontakt_na_strani textarea { width:100%; height:60px;}
.kontakt_na_strani .izracun { float:left; width:60%; margin-right:10%;}
.kontakt_na_strani button { width:30%;}

.tabela-vsebina { width:100%;}
.tabela-vsebina th, .tabela-vsebina td { padding:5px;}
.tabela-vsebina th { text-align:left; color:#fff;}
.tabela-vsebina tr:nth-child(even) td { background-color:#efefef;}

.notranja .maincontent p { line-height:28px;}

.predavatelji { margin-left:-15px; margin-right:-15px; float:left;}
.predavatelj_box { float:left; padding:0 15px 15px 15px; width:25%;}
.predavatelj_slika { position:relative; border:5px solid #ccc; padding:5px;}
.predavatelj_linkedin { position:absolute; bottom:5px; left:5px;}
.predavatelj_content {}

.mainponudba { display:inline-block; width:100%;}
.ponudbaobrazec { background:#0e76bc; padding:20px 0 40px 0;}
.obrazectekst { color:#fff; text-align:center; width:100%; padding:0 0 30px 0;}
.obrazectekst h3 { font-size:30px; padding-bottom:15px;}
.obrazecbox { width:50%;}
.obrazecbox2 {width:100%;}
.obrazecbox p { padding-bottom:15px;}

.obrazecsubmit { padding-top:20px; width:100%; text-align:center;}
.obrazecsubmit p { width:150px; background:#fff; margin-left:auto; margin-right:auto; padding:5px; margin-bottom:5px;}
.obrazecsubmit p input { margin-right:2px;}
.obrazecsubmit .btn-primary { width:30%; background:#333; border-color:#333; padding:10px; font-size:16px; text-transform:uppercase;}

.izberistoritev a img { opacity:.5;}
.soritevbox:hover .izberistoritev a img { opacity:1;}

/* --------------------------------------------------------------------- banner ------------------------------------------------------------------- */
.carousel-caption {text-shadow:none;}
.carousel .carousel-caption h2 { font-size:45px;}
.carousel .carousel-caption p { font-size:16px;}
.carousel .carousel-caption h2, .carousel .carousel-caption p, .carousel .carousel-caption a { margin-bottom:10px;}

/* ----------------------------------------------------------------------- stranska navigacija --------------------------------------------------------------------- */ 
.navi_it > ul > li > a, div.sekundarna a, div.sekaktivna a { padding:10px; font-size:16px; border-bottom:1px solid #333; color:#333;}
.navi_it > ul > li > a:hover, .navi_it > ul > li.active > a, .navi_it > ul > li.active > a:hover, div.sekundarna a:hover, div.sekaktivna a, div.sekaktivna a:hover { border-bottom-color:#0e76bc; color:#0e76bc;}

.navi_it > ul ul > li > a, div.terciarna a, div.tercaktivna a { padding:10px; color:#333; border-bottom:1px solid #666; font-size:14px;}
.navi_it > ul ul > li > a:hover, .navi_it > ul ul > li.active > a, .navi_it > ul ul > li.active > a:hover, div.terciarna a:hover, div.tercaktivna a, div.tercaktivna a:hover  {border-bottom-color:#0e76bc; color:#0e76bc;}

.navi_it > ul ul ul > li > a { padding:5px 15px; color:#333; border-bottom:#666; font-size:12px;}
.navi_it > ul ul ul > li > a:hover, .navi_it > ul ul ul > li.active > a, .navi_it > ul ul ul > li.active > a:hover {border-bottom-color:#0e76bc; color:#0e76bc;}

div.sekundarna a, div.terciarna a, div.sekaktivna a, div.tercaktivna a { display:block; float:left; width:100%;}

/* ----------------------------------------------------------------------- filtri --------------------------------------------------------------------- */ 
.filter_okvir { margin:20px 0 0 0; border:1px solid #dfdfdf; float:left; width:100%;}
.filter_top, .mainleft .detail_sorodni .sorodni_title { float:left; width:100%; font-size:16px; padding: 13px 20px 13px 15px; color:#fff; background-color:#141414; font-weight:400;}
.filter_row { float:left; margin-right:10px; float:left; width:100%; padding:4px 20px 4px 15px;}
.filter_row input { margin-right:5px;}
.filter_btn { float:left; width:100%; text-align:center; padding:20px 0;}
.filter_btn input {color:#fff;}

/* ----------------------------------------------------------------------- novice --------------------------------------------------------------------- */ 
.newsshort_novica {width:25%; margin-bottom:30px;}
.newsshort_novica > .innerbox { border-width:1px; border-style:solid; padding:10px;}
.fpage_newstitle { display:none;}
.fpage_newstitle h2 { font-size:26px; text-transform:uppercase; margin-top:20px; margin-bottom:20px; text-align:center;}
.news_date {z-index:1; position:absolute; bottom:0; left:0; z-index:2;}
.news_date > .innerbox { padding:0 10px; background:rgba(255,255,255,0.8);}
.news_slika, .news_content { width:100%;}

.sorodne_novice .newsshort_novica {width:100%;}

/* seznam novic */
.snovica_title { margin:10px 0; border-top:1px solid #333; border-bottom:1px solid #333; text-align:center;}
.snovica_title > a { padding: 10px 0; display:block; color:#333;}
.snovica_title > a > h2:before, .snovica_title > a > h2:after { display:none;}
.snovica_title > a> h2 {font-size:14px; width: 100%; border-bottom:none; height:auto; line-height:22px; font-weight:700; color:#333;}
.snovica_box { width:25%;}
.snovica_slika, .snovica_vsebina { width:100%;}
.snovica_box { margin:0 0 20px 0;}
.snovica_kropis p { line-height:18px; font-size:13px;}

/* detajl novice */
.dnovica_title { margin-bottom:20px;}
.dnovica_top > div > div {display: table;}
.dnovica_slika, .dnovica_vsebinatop { width:50%;}
.dnovica_slika > .innerbox { border:5px solid #0e76bc; padding:5px;}
.dnovica_maleslike { margin:20px 0 0 0; display:none;}
.dnovica_vsebina { margin-top:20px;}
.detail_singlethumb { width: 25%; margin:0 0 20px 0;}
.dnovica_krvsebina {font-family: 'Shadows Into Light Two', cursive; font-size:20px;}

/* ----------------------------------------------------------------------- galerija --------------------------------------------------------------------- */ 
.seznam_gallery_title { padding-bottom:20px;}
.seznam_gallery_singlethumb { width:25%; margin-bottom:10px;}	

/* ----------------------------------------------------------------------- anketa --------------------------------------------------------------------- */ 
.anketa_vprasanje { font-weight:bold; padding:10px 0;}
.anketa_odgovori { padding:5px 0;}
.anketa_radio { margin-right:5px;}
.vote_button {text-align: center; padding:20px 0;}

/* ----------------------------------------------------------------------- artikli --------------------------------------------------------------------- */ 
/* paging */
.title_and_paging > .innerbox { border-bottom-width:1px; border-bottom-style:solid; margin-bottom:20px;}
.fpage_seznam_title { float:left; height:auto; line-height:auto;}

.pagination {float:right;}
.pagination>li>a, .pagination>li>span {border:none; color:#000;}
.pagination>li>a:hover, .pagination>.active>a, .pagination>.active>a:hover { background:none; text-decoration:underline; color:#000;}
.pagination > li > a:hover, .pagination>.active>a, .pagination>.active>a:hover { background-color:#fff; border-color:#e2001a; color:#000;}

.breadcrumb { margin-bottom:10px; background:none; padding-left:0; font-size:12px;}
.uredi_po { float:right; width:100%; text-align:right; font-size:12px;}


.seznam_title { margin-bottom:30px;}
.seznam_katopis { padding:20px 0;}

/* artikel box */
.artikel_box { width:25%;}
.artikel_box > .innerbox {text-align:center; margin:0 0 30px 0; position:relative; border-width:1px; border-style:solid; padding:10px; float:left; width:100%; background:#fff;}

/* slika */
.seznam_slika { background:#000;}
.seznam_slika img { opacity:1;}
.artikel_box > .innerbox:hover .seznam_slika img { opacity:0.6;}

/* seznam cene */
.seznam_cenaakcija .seznam_cenavalue, .seznam_rednacena .seznam_cenavalue, .opcija_cenaakcija { font-weight:bold; font-size:16px;}
.seznam_staracena { font-size:13px;}
.seznam_staracena .seznam_cenavalue, .detail_staracena_value, .opcija_staracena { text-decoration:line-through;}

/* tagi na artiklu */
.seznam_opicon { z-index:2;}
.seznam_popust_icon, .detail_popust_icon { position:absolute; z-index:2; top:0; right:0; padding:10px; background:#fff; color:#000; font-weight:700; border-bottom-left-radius:15px; border-top-left-radius:15px; border-bottom-right-radius:15px; box-shadow:0 0 3px rgba(0,0,0,0.3);}
.seznam_btnvec { display:none;}

.seznam_novost, .seznam_freedelivery, .seznam_razprodano { position:absolute; font-size:12px; left:0; z-index:2;}
.seznam_novost {}
.seznam_novost a, .seznam_novost a:hover {display:block; padding:3px 5px; background:#000; color:#fff; text-decoration:none;}

.seznam_razprodano { margin-top:30px;}
.seznam_razprodano a, .seznam_razprodano a:hover { display:block; padding:3px 5px; background:#000; color:#fff; text-decoration:none;} 

.seznam_freedelivery { margin-top:60px;}
.seznam_freedelivery a, .seznam_freedelivery a:hover {display:block; padding:3px 5px; background:#000; color:#fff; text-decoration:none;} 

/* detail artikla */
.detail_topleft, .detail_topright { width:50%;}
.detail_topleft > .innerbox {position:relative;}
.detail_kropis { font-size:16px; padding:20px 0;}
.detail_social, .detail_sifra, .detail_staracena, .detail_popust, .detail_cena, .detail_zaloga { padding:5px 0; border-bottom:1px solid #333;}
.detail_social {border-top:1px solid #333; padding-top:7px;}
.detail_vprasanje_opis a { color:#000;}
.detail_cena, .cart_sum_zaplacilo, #dostava_cena { font-weight:bold; font-size:22px;}
.podrobno_podrobniopis { margin:20px 0;}
.podrobno_podrobniopis ul { margin-left:20px;}

.detail_topleft .detail_thumbs { margin-left:-15px; margin-right:-15px;}
.detail_topleft .detail_singlethumb { margin-top:10px;}

.dvprasanje_form { background:#ccc;}
.dvprasanje_email, .dvprasanje_opis { padding:10px;}
.dvprasanje_email p { margin:0 10px 0 0;}
.dvprasanje_btn {padding:0 0 10px 0; text-align:center;}

.tabela_opcije_naslov { font-size:24px; margin-top:20px; margin-bottom:10px;}
.opcija_slika { min-width:50px;}
.opcija_vkosarico a { text-indent:-0px; font-size:0px;}
.opcija_vkosarico .btn:after {content: "\f07a"; font-family: FontAwesome; display: inline-block; line-height: 1; font-size:16px;}

.detail_sorodni { padding:0;}
.detail_sorodni .sorodni_title { padding:30px 0; margin:0;}
.mainleft .detail_sorodni .sorodni_title, .darila_naziv { margin:20px 0;}
.sorodne_novice_title { margin-bottom:30px;}

.detail_tehspec_row { border-bottom:1px solid #849bae;}

.detail_dokument_row, .detail_dokument_icon, .detail_dokument_txt { display:inline-block;}
.detail_dokument_row { border:1px solid #999; background:#efefef; padding:5px 10px;}   
.detail_dokument_row, .detail_dokument_icon { margin-right:10px;}

.tabelaopcije { float:left;}



.soritevbox { float:left; width:25%; text-align:center; margin-bottom:30px;}
.izberistoritev { cursor:pointer;}
/*.labelcontent { display:none; background:#eaeaea; padding:30px; float:left; width:100%; margin:20px 0;}*/
.storitevselect { float:left; width:100%; text-align:center;}

.soritevbox input {	-webkit-appearance: none; background-color:#fafafa; border: 1px solid #cacece; padding:9px; border-radius:0px; display: inline-block; position: relative; vertical-align:bottom; margin-right:10px;}
.soritevbox input:checked, .soritevbox input:active, .soritevbox input:checked:active {background-color:#0E76BC; border:1px solid #0E76BC; outline:none;}
.soritevbox input:checked:after, .soritevbox input:active:after, .soritevbox input:checked:active:after {content: "\f00c"; font-family: FontAwesome; line-height: 1; font-size:13px; position:absolute; top:2px; left:3px; color:#fff;}

/* ------------------------------------------------------------- kosarica pregled -------------------------------------------------------------- */
.cart_pregled_cenakos, .cart_pregled_popust, .cart_pregled_popustznesek, .cart_pregled_cenaspopustom, .cart_pregled_ddv, .cart_pregled_cena_zddv, .cart_pregled_izdelek,
.cart_sum_brezpopusta, .cart_sum_popust, .cart_sum_spopustom, .cart_sum_ddv, .cart_sum_zaplacilo, .cart_pregled_znesekdostave > div, .cart_pregled_kol, .cart_pregled_sumcena {border-bottom:1px solid #242424;}

.cart_pregled_cenakos, .cart_pregled_popust, .cart_pregled_popustznesek, .cart_pregled_cenaspopustom, .cart_pregled_ddv, .cart_pregled_cena_zddv, .cart_pregled_kol, .cart_pregled_sumcena,
.cart_sum_brezpopusta, .cart_sum_popust, .cart_sum_spopustom, .cart_sum_ddv, .cart_sum_zaplacilo, .cart_pregled_znesekdostave > div {padding:0 0 5px 0; margin:0 0 5px 0;}

.cart_pregled_naziv { font-size:18px;}

.cart_pregled_cenatxt, .cart_sum_txt { padding:0 0 0 5px;}
.cart_pregled_cenavalue, .cart_sum_value { padding:0 5px 0 0;}

.cart_pregled_opomba, .cart_pregled_file {background:#efefef;}
.cart_pregled_opomba .innerbox, .cart_pregled_file .innerbox {padding:10px;}
.cart_pregled_opombavalue textarea { width:100%; background:#fff; resize: none;}
.cart_pregled_opombabtn { padding:10px 0 0 0; text-align:center;}

.cart_pregled_file { margin:5px 0 0 0;}
.cart_file_btn { padding:10px 0;}

.cart_pregled_title { margin:30px 0;}
.buydata_left h2, .buydata_right h2 { margin:30px 0; text-align:left;}

/* pregled ponudbe pred potrditvijo */
.pregled_ponudbe .buydata_left { width:100%; margin-bottom:30px;}
.cart_pregled_naslovi {background:#efefef;}
.cart_pregled_naslovi > .innerbox { padding:20px 15px;}
.cart_pregled_naslovi h2 { margin:0;}

.cart_pregled_narocilotxt, .cart_pregled_stnarocila { width:50%;}
.cart_pregled_stnarocilarow .innerbox { padding:15px 0;}

.cart_buttons { margin:20px 0; text-align:right;}

.cart_nacinplacila_choosetxt { font-weight:bold}

.cart_pregled_sifra { font-size:16px; margin-bottom:20px; margin-top:20px;}
.cart_pregled_deleteartikel { clear:left; margin-top:10px; float:left;}
.cart_pregled_deleteartikel a {background:#d80b36; color:#fff; padding:5px 10px;}
.cart_pregled_deleteartikel i { margin-right:5px;}

.cart_pregled_znesekdostave > div:empty, .filter_btn:empty { display:none;}

.dostava_kodazapopust > .innerbox { margin:20px 0 0 0; padding:10px 20px; background:#efefef; float:left; width:100%;}
.cart_popusttxt { font-weight:700;}

.cart_pregled_naslovdostava, .cart_pregled_dostava, .cart_pregled_placilo, .cart_pregled_opomba { background:#f5f5f5; margin-bottom:1px;}
.cart_pregled_naslovdostava h3 { padding:10px;}
.cart_pregled_naslovdostava p { padding:0 10px 10px 10px;}

.cart_pregled_opomba, .cart_pregled_dostava, .cart_pregled_placilo { padding:10px; float:left; width:100%; }

.cart_checkbox { margin-bottom:1px; padding:10px; background:#f5f5f5;}
.cart_checkbox input { margin-right:5px;}

/* ------------------------------------------------------------------- noga -------------------------------------------------------------*/
footer { background:#252525; color:#fff; padding:30px 0; font-size:12px; margin-top:-1px;}
footer a { color:#fff;}
footer h2, .enovice_title, #mc_embed_signup label { color:#eee; font-size:16px !important;}

.footlinks, .footbox { margin-bottom:30px;}

.footlinks ul, .footlinks li { list-style-type:none;}
.footlinks li a { display:block; padding:3px 10px; background:#fff; margin-bottom:2px; color:#000;}
.footlinks li a:hover {text-decoration:none; color:#fff;}

.primaryfoot > div > ul > li { display:block; width:100%;}
.primaryfoot > div > ul > li a, .primaryfoot > div > ul > li a:hover { color:#fff; border-bottom:1px solid #eee; padding:10px; display:block;}
.primaryfoot > div > ul > li a:hover, .primaryfoot > div > ul > li.active a { text-decoration:none;}
.primaryfoot > div > ul > li a:before {content: "\f101"; font-family: FontAwesome; display: inline-block; line-height: 1; font-size:14px; margin-right:10px;}

.elsocial { float:left; width:100%; margin:20px 0 0 0;}

.footauthors { width:100%; background:#737373; font-size:12px; color:#fff; position:relative;}
.footauthors a { color:#fff;}
.footauthors > div > div > div > div { display:inline-block;}
.footauthors .innerbox { padding:10px 15px;}

.footauthors .cart_top { position:absolute; top:5px; right:0;}
.footauthors .stanjekosarice_stanje, .footauthors .jeziki, .fotauthors .kosaricaakcije_registriraj { display:none;}
.footauthors .cart_top .innerbox { padding:0;} 

#mc_embed_signup { background:none !important;}
#mc_embed_signup input.email {display: block !important; width: 100% !important; height: 34px !important; padding: 6px 12px !important; font-size: 14px !important; line-height: 1.42857143 !important;
color: #555 !important; background-color: #fff !important; border: 1px solid #ccc !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;}
#mc_embed_signup input.button { border-radius:0px !important; background:#0e76bc !important;}
.enovice_input, .enovice_button { float:left;}

/* //////////////////////////////////////////////////////// COMMON DIMENZIJE //////////////////////////////////////////////////////// */

.art1 .artikel_box, .news1 .newsshort_novica, .w1 {width:100%;}
.art2 .artikel_box, .news2 .newsshort_novica, .w2 {width:50%;}
.art3 .artikel_box, .news3 .newsshort_novica, .w3 {width:33.33333333333333%;}
.art4 .artikel_box, .news4 .newsshort_novica, .w4 {width:25%;}
.art5 .artikel_box, .news5 .newsshort_novica, .w5 {width:20%;}
.art6 .artikel_box, .news6 .newsshort_novica, .w6 {width:16.666666666666664%;}
.art8 .artikel_box, .news8 .newsshort_novica, .w8 {width:12.5%;}
.art10 .artikel_box, .news10 .newsshort_novica, .w10 {width:10%;}

.artspan .seznam_slika, .artspan .seznam_podatki, .newsspan .news_slika, .newsspan .news_content { width:50%; float:left;}

/* //////////////////////////////////////////////////////// RESPONSIVE DIMENZIJE //////////////////////////////////////////////////////// */

@media (min-width: 1200px){}
@media (min-width: 600px) and (max-width: 1300px) {.newsshort_novica, .mainbox1 { width:50%;}}
@media (min-width: 481px) and (max-width: 599px) {.naslovnica .newsshort_novica, .mainbox1 { width:100%;}}
@media (min-width: 768px) and (max-width: 991px) {
	.mainright .artikel_box { width: 33.33333333333333%;}
	.mainleft { width: 25%;}
	.mainright {width: 75%;}
}

@media (min-width: 481px) and (max-width: 991px) {}
@media (min-width: 767px) {.cart_pregled_slika img { max-height:300px;}}
@media (max-width: 767px) {
	.fixed_bar{ display:none;}
	.snovica_box, .search { width:100%;}
	.logo { width:100%; text-align:center;}
	.detail_singlethumb { width:50%;} 
	.artspan .artikel_box, .newsspan .newsshort_novica { width:100% !important;}
	/*  leva navigacija */
	.mainleft {background: #fff; position: fixed; overflow-y:auto; width: 240px !important; height: 100%; top: 0; bottom:0; z-index: 1000; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}
	.mainleft {left: -100%;} 
	.mainleft.open {left: 0%;}
	.closeleftmenu { display:block;}
	.closeleftmenu a { color:#fff; font-size:20px; text-align:left; width:100%; padding:5px 0; background:#000; display:block; cursor:pointer;}
	.closeleftmenu a:hover { text-decoration:none; background-color: #404040;}
	.closeleftmenu i { margin-left:15px;}
	.back_banner_opacity { display:none;}
	.back_banner .carousel-inner > .elitem > div > img, .carousel-inner > .elitem > div > a > img { max-width:180%; margin-left:-40%;}
	.back_banner .carousel-caption  { top:150px; bottom:auto;}
	.back_banner .carousel .carousel-caption h2 { font-size:26px;}
	header { min-height:240px;}
	.mobile_cart_container  { padding:0; margin:0; position:absolute; top:0; left:-15px;}

}

@media (min-width: 481px) and (max-width: 767px) {
	.search, .mainright {width:100%;}
	.w2, .w3, .w4, .w5, .w6, .w8, .w10, .art2 .artikel_box, .art3 .artikel_box, .art4 .artikel_box, .art5 .artikel_box, .art6 .artikel_box, .art8 .artikel_box, .art10 .artikel_box,
	.news2 .newsshort_novica, .news3 .newsshort_novica, .news4 .newsshort_novica, .news5 .newsshort_novica, .news6 .newsshort_novica, .news8 .newsshort_novica, .news10 .newsshort_novica,
	.artikel_box, .mainright .artikel_box
	{width:50%;}
	.seznam_gallery_singlethumb, .predavatelj_box {width:33.33333333333333%;}
	
}
@media (max-width: 480px) {
	.w2, .w3, .w4, .w5, .w6, .w8, .w10,	.art2 .artikel_box, .art3 .artikel_box, .art4 .artikel_box, .art5 .artikel_box, .art6 .artikel_box, .art8 .artikel_box, .art10 .artikel_box,
	.news2 .newsshort_novica, .news3 .newsshort_novica, .news4 .newsshort_novica, .news5 .newsshort_novica, .news6 .newsshort_novica, .news8 .newsshort_novica, .news10 .newsshort_novica,
	.artikel_box, .mainbox1
	{width:100%;}
	
/*-----*/	
    .predavatelj_box { width:50%;}
	.predavatelj_box:nth-child(3) { clear:left;}
	.search > .innerbox { padding:0 0 15px 0;} 

	.mainright  .artikel_box { width: 100%;}
	.detail_topleft { width:100%;}
	.detail_topright { width:100%;}
	.mainright { width:100%;}
	/* novice */
	.snovica_box, .snovica_slika, .snovica_vsebina, .newsshort_novica { width:100%;}
	.newsshort_novica {margin-bottom:30px;}
	/* detajl novice */
	.dnovica_slika, .dnovica_vsebinatop { width:100%;} 
	/* galerija */
	.seznam_gallery_singlethumb { width:50%;}
	/* kosarica */
	.cart_buttons { margin:20px 0; text-align:center;} .cart_buttons > div > div { margin-bottom:5px;}
	.sorodne_novice .newsshort_novica {width:100%;}
	.sorodne_novice .news_slika {width:100%; margin-right:0;}
	.sorodne_novice .news_content {width:100%;}
}

/*//////////////// CUSTOM STYLES by Forward ////////////////////*/
.innerbox {
	position: relative;
}

@media screen and (max-width: 550px) {
	#cc110-0 {
		left: 5%;
		right: 5%;
	}
}

footer {
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

.row {
	position: relative;
}

.row.flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row.flex-row.reversed-row {
	flex-direction: row-reverse;
}

.row.flex-row div[class^=col-sm-] h2.special {
	margin-top: 0;
}

@media screen and (max-width: 550px) {
	.row.flex-row {
		display: block;
	}
}

.obrazecbox-special {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
}

.obrazecbox-special > p {
	flex: 0 0 calc(50% - 10px);
	margin: 0 5px 15px;
}

.obrazecsubmit p {
	background-color: transparent;
	color: #fff;
}

.mainfull {
	margin-top: 20px;
}

.content-container {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 830px;
}

ol.breadcrumb {
	width: 80%;
	margin: 0 auto;
	display: block;
	max-width: 830px;
}

hr.content-divider {
	margin-top: 60px;
	margin-bottom: 0;
}

@media screen and (max-width: 991px){
	.content-container {
		width: 90%;
	}
	ol.breadcrumb {
		width: 90%;
	}
}

/**********************/
/* TYPOGRAPHY STYLING */
/**********************/

h1.special {
	font-size: 26px;
	color: #0e76bc;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 0;
	text-transform: uppercase;
}

h2.special-subtitle {
	color: #0E76BC;
	font-size: 26px;
	font-weight: 200;
	margin-top: 0.25em;
}

h2.special {
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color: #333;
	margin: 30px 5% 0;
}

h2.connected-content-title {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	color: #333;
}

h3.special {
	padding-left: 5%;
	padding-bottom: 0;
	padding-top: 20px;
	font-size: 16px;
}

p.basic-paragraph {
	line-height: 1.618;
	font-size: 14px;
	text-align: justify;
	margin: 20px auto 0;
	max-width: 90%;
}

/**********************/
/*   CARDS STYLING    */
/**********************/

.cards-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.cards-container > a {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	margin: 0 1em;
	flex-direction: column;
}

.cards-container > a:hover {
	text-decoration: none;
}

.cards-container.special-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cards-container.special-card > a, .cards-container.special-card > .card {
	flex: 0 0 calc(33.33% - 2em)
}

.cards-container.special-card .card {
	margin-top: 1em;
	margin-bottom: 1em;
}

.cards-container.special-card .card .card-image-container > a {
	width: 70px;
}

.cards-container .card .card-image-container > a {
	width: 70px;
}

.cards-container .card {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0,0,0,.16);
	border-radius: 5px;
	align-self: stretch;
	margin: 0 1em;
	padding: 2em;
	flex-direction: column;
	transition: 200ms ease-in-out all;
}

.cards-container .card:hover {
	box-shadow: 0 10px 22px rgba(0,0,0,.21);
	transform: scale(1.1);
}

.cards-container .card:hover a {
	text-decoration: none;
}

.cards-container .card:first-child {
	margin-left: 0;
}

.cards-container .card:last-child {
	margin-right: 0;
}

.cards-container .card .card-image-container {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
}

.cards-container .card .card-image-container img {
	object-fit: contain;
}

.cards-container .card .card-text {
	text-transform: uppercase;
	color: #0e76bc;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

/**********************/
/*   IMAGES STYLING   */
/**********************/

.featured-image {
	box-shadow: 0 10px 22px rgba(0,0,0,.21);
	border-radius: 10px;
	overflow: hidden;
	margin-top: 30px;
	display: flex;
}

.featured-image > img {
	object-fit: cover;
	width: 100%;
}

.featured-image.small-image {
	max-height: 285px;
}

.overlayed-image-container {
	position: relative;
	overflow: hidden;
	display: flex;
	box-shadow: 0 10px 22px rgba(0,0,0,.21);
	border-radius: 10px;
	overflow: hidden;
	margin-top: 30px;
	max-height: 285px;
	justify-content: center;
	align-items: center; 
}

.overlayed-image-container img {
	object-fit: cover;
}

.overlayed-image-container .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(51,51,51,.45);
}

.overlayed-image-container .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlayed-image-container .content h3.image-quote {
	color: #fff;
	max-width: 445px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 1.4;
	text-shadow: 0 3px 6px rgba(0,0,0,.21)
}

.overlayed-image-container .content h3.image-quote .fa {
	margin-top: -15px;
	font-size: 32px;
}

.overlayed-image-container .content .cta-container {
	margin: 10px 0;
}

.overlayed-image-container .content .cta-container a {
	background: #fbfbfb;
	border: none;
	color: #0E76BC;
	font-weight: bold;
}

.overlayed-image-container .content .cta-container a:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 22px rgba(0,0,0,.21);
	background: #fbfbfb;
	color: #0E76BC;
}

/**********************/
/*     CONTAINERS     */
/**********************/

.connected-content-container {
	margin: 20px 0;
	position: relative;
}

.connected-content-container::before {
	content: '';
	display: block;
	width: 3px;
	top: 0;
	bottom: 0;
	left: 3px;
	background-color: #0E76BC;
	position: absolute;
}

.connected-content-container p {
	padding-left: 35px;
	margin: 10px 0;
	text-align: justify;
	line-height: 1.618;
	font-size: 14px;
}

.cta-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 75px;
}

.cta-container.no-margin {
	margin: 20px 0 10px;
}

.cta-container a {
	padding: 0.75em 1em;
	border-radius: 5px;
	border: 3px solid #0E76BC;
	color: #0E76BC;
	font-size: 14px;
	display: inline-block;
	transition: 200ms ease-in-out all;
}

.cta-container a:hover {
	background: #0E76BC;
	color: #fff;
	text-decoration: none;
}

/**********************/
/*    GRID CONTENT    */
/**********************/

.grid-content-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grid-content-container .grid-element {
	flex: 0 0 calc(50% - 50px);
	margin: 25px;
}

.grid-content-container .grid-element .grid-element-header {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
	align-items: flex-end;
	height: 75px;
}

.grid-content-container .grid-element .grid-element-header img.grid-element-icon {
	max-height: 70px;
	width: auto;
	margin-right: 20px;
}

.grid-content-container .grid-element .grid-element-header h3.grid-element-title {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	text-transform: uppercase;
}

.grid-content-container .grid-element .grid-element-body {
	padding: 1em;
}

.grid-content-container .grid-element .grid-element-body p.grid-element-text {
	line-height: 1.618;
	font-size: 14px;
	text-align: justify;
}

/**********************/
/*    FORM STYLING    */
/**********************/

h3.form-title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 60px;
	text-align: left;
	margin-bottom: 0;
	padding: 0;
}

p.form-CTA-text {
	font-size: 14px;
	font-weight: 200;
	text-align: left;
	margin-top: 5px;
}

form.special-form {
	margin-top: 5px;
}

.inputs-container {
	display: flex;
	flex-wrap: wrap;
}

.inputs-container .input-group {
	flex: 0 0 calc(50% - 20px);
	margin: 30px 10px 0;
	min-width: calc(50% - 20px);
}

.inputs-container .input-group.full-width {
	flex: 0 0 calc(100% - 20px);
	min-width: calc(100% - 20px);
}

.inputs-container .input-group label {
	color: #333
}

.inputs-container .input-group label i {
	font-size: 24px;
	margin-right: 10px;
}

.inputs-container .input-group label.is-focused {
	color: #0E76BC;
}

.inputs-container .input-group .form-control {
	width: 100%;
	display: block;
	float: none;
	border: none;
	border-bottom: 3px solid #333;
	color: #333;
	font-weight: normal;
	outline: none;
	box-shadow: none;
	transition: 200ms ease-in-out all;
}

.inputs-container .input-group .form-control:focus {
	border-color: #0E76BC;
	color: #0E76BC;
}

.input-checkbox-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.input-checkbox-container span {
	margin-left: 10px;
}

.form-cta-container {
	display: flex;
	justify-content: center;
	margin: 20px 0 50px;
}

.form-cta-container .form-cta {
	background: transparent;
	border: 3px solid #0E76BC;
	border-radius: 5px;
	padding: 0.75em 1em;
	color: #0E76BC;
	transition: 200ms ease-in-out all;
}

.form-cta-container .form-cta:hover {
	color: #fff;
	background-color: #0E76BC;
}

/**********************/
/*    PONUDBA FORM    */
/**********************/
.art3 .artikel_box, .news3 .newsshort_novica, .w3 {
	display: none;
}

.storitve-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.storitve-container .storitevbox {
	flex: 0 0 calc(25% - 10px);
	margin: 5px 5px;
	background: #fbfbfb;
	border-radius: 5px;
	padding: 1em;
	box-shadow: 0 3px 6px rgba(0,0,0,.21);
	transition: 200ms ease-in-out all;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

@media screen and (max-width: 650px){
	.storitve-container .storitevbox {
		flex: 0 0 calc(50% - 10px)
	}
}

.storitve-container .storitevbox.checked{
	background: rgba(0,121,203,0.5);
	box-shadow: 0 5px 11px rgba(0,0,0,.21);
}

.storitve-container .storitevbox:hover {
	box-shadow: 0 5px 11px rgba(0,0,0,.21);
}

.storitve-container .storitevbox .izberistoritev {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.storitve-container .storitevbox .izberistoritev > a > img {
	height: 85px;
	opacity: 1;
}

.storitve-container .storitevbox .izberistoritev > h3 {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.storitve-container .storitevbox .storitevselect {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

.simple-toggle {
  height: 30px;
  width: 70px;
	position: relative;
	margin-top: 0.5em;
}
  
.simple-toggle .well {
	background: rgba(0,0,0,.21);
	width: 60px;
	position: relative;
	height: 1em;
	padding: 1em;
	border-radius: 5px;
	border: none;
	/* box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 0 2px 0 rgba(255,255,255,0.7); */
}

.simple-toggle .toggle {
	-webkit-appearance: none;
	height: 20px;
	width: 24px;
	background: #FFF;
	position: absolute;
	left: 7px;
	top: -2px;
	z-index: 100;
	border-radius: 5px;
}
    
      
.simple-toggle .toggle:before {
	content: "";
	position: absolute;
	top: 0.39em;
	left: 50%;
	width: 1em;
	margin-left: -.5em;
	height: 0.125em;
	border-top: 0.375em double #ccc;
	border-bottom: 0.125em solid #ccc;
}
    
.simple-toggle .toggle:checked {
	left: 40px;
}
    
.simple-toggle .toggle:checked+label {
	background: #0E76BC;
}

.modal-content {
	border-radius: 5px;
}

.modal-content .modal-header .modal-title {
	font-weight: bold;
	color: #333;
}

.modal-content .modal-body p {
	line-height: 1.618;
	font-size: 14px;
	text-align: justify;
	margin: 1em auto;
	max-width: 90%;
}

.modal-content .modal-footer button {
	outline: none;
	border: 2px solid #565656;
	color: #565656;
	border-radius: 5px;
	transition: 200ms ease-in-out all;
}

.modal-content .modal-footer button[type="submit"] {
	border: 2px solid #0E76BC;
	background: transparent;
	color: #0E76BC;
}

.modal-content .modal-footer button[type="submit"]:hover {
	background: #0E76BC;
	color: #fbfbfb;
}

.modal-content .modal-footer button:hover {
	background: #565656;
	color: #fbfbfb;
}

@media screen and (min-width: 768px){
	.modal-dialog {
		margin: 75px auto;
	}
}

.ponudbaobrazec {
	background: transparent;
}

.ponudbaobrazec .content-container .form-title {
	margin-top: 30px;
}

/**********************/
/*    BLOG / NOVICE   */
/**********************/
#novice_list .paging_news .row_pagination ul.pagination, #novice_list .paging_bottom .row_pagination ul.pagination {
	float: unset;
}

#novice_list .seznam_flex .snovica_box {
	flex: 0 0 calc(33.33% - 40px);
	margin: 0 20px 40px;
	width: unset;
	padding: 0;
	background: #fbfbfb;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,.21);
	transition: 200ms ease-in-out all;
	overflow: hidden;
}

#novice_list .seznam_flex .snovica_box:hover {
	transform: scale(1.05);
	z-index: 10000;
	box-shadow: 0 5px 11px rgba(0,0,0,.21);
	cursor: pointer;
}

#novice_list .seznam_flex .snovica_box > .innerbox > .row {
	margin-left: 0;
	margin-right: 0;
}

#novice_list .seznam_flex .snovica_box .snovica_slika {
	height: 250px;
	padding: 0;
}

#novice_list .seznam_flex .snovica_box .snovica_slika .innerbox {
	width: 100%;
	height: 100%;
}

#novice_list .seznam_flex .snovica_box .snovica_slika .innerbox > a {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
}

#novice_list .seznam_flex .snovica_box .snovica_slika .innerbox > a > img {
	object-fit: cover;
}

#novice_list .seznam_flex .snovica_box .snovica_vsebina {
	padding: 0.5em 1em;
}


/**********************/
/*    MOBILE RULES    */
/**********************/

@media screen and (max-width: 767px) {
	.grid-content-container .grid-element .grid-element-body p.grid-element-text {
		text-align: left;
	}
}

@media screen and (max-width: 550px){
	.content-container {
		width: 100%;
	}
	h1.special {
		margin-top: 10px;
	}
	h2.special {
		margin: 30px 0 0;
	}
	p.basic-paragraph {
		max-width: 100%;
		padding: 0;
	}
	p.featured-image.small-image {
		max-height: 200px;
	}
	.grid-content-container {
		margin-top: 15px;
	}
	.grid-content-container .grid-element {
		flex: 0 0 calc(100% - 20px);
		max-width: calc(100% - 20px);
		margin: 10px;
	}
	.connected-content-container p {
		padding-left: 20px;
	}
	.overlayed-image-container .content h3.image-quote {
		padding: 0 5%;
	}
	.cards-container {
		flex-wrap: wrap;
	}
	.cards-container .card {
		flex: 0 0 100%;
		margin: 0;
		padding: 1em;
	}

	.cards-container > a {
		flex: 0 0 100%;
		margin: 0;
		padding: 1em;
	}

	.cards-container .card .card-image-container {
		height: 50px;
	}
	.overlayed-image-container .content h3.image-quote {
		font-size: 18px;
	}
	.overlayed-image-container .content h3.image-quote .fa {
		font-size: 24px;
	}
	.inputs-container .input-group {
		flex: 0 0 calc(100% - 10px);
		margin: 30px 5px;
		min-width: calc(100% - 10px);
	}
}

/**********************/
/*  FIXED SIDE MENU   */
/**********************/

#LeftMenu {
	-webkit-position: sticky;
	position: sticky;
	top: 50px;
}

.mainright.fixed-side-menu {
	margin-left: 20%;
}

@media screen and (max-width: 767px) {
	#LeftMenu {
		display: none;
	}
}

/* BASIC OVERRIDES - KEEP THIS AT THE BOTTOM OF THE FILE AT ALL TIME */
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.pd-10 {
	padding-top: 10px;
}

.pd-20 {
	padding-top: 20px;
}

.pd-30 {
	padding-top: 30px;
}

.pd-40 {
	padding-top: 40px;
}

.pd-50 {
	padding-top: 50px;
}